.inputContainer {
    span {
        margin-bottom: 1rem;
        padding: 0.2rem;
        font-size: 0.8rem;
        font-weight: bold;
        color: crimson;
    }

    input {
        margin-top: 0.4rem;
        width: 340px;
        height: 3.77rem;
    
        border-radius: 0.67rem;
        border: 2px solid var(--color-gray);
    
        padding: 0.5rem;
    }
}


